.slideshow-container {
  width: 100vw;
  height: 22vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-space {
  padding-top: 1vw;
  width: 80vw;
  height: 22vw;
  margin: 0;
  cursor: pointer;
}

.slider {
  display: grid;
  grid-auto-flow: column;
  padding: 0vw;
  margin: 0vw;
  grid-auto-columns: 26vw;
  gap: 1vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.slider.dragging .card {
  cursor: grab;
  user-select: none;
}

.slider.no-transition {
  scroll-behavior: auto;
}

.card {
  height: 25vw;
  list-style: none;
  border-radius: 2vw;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 0 inset #083d8d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0vw 1vw;
  scroll-snap-align: start;
  transition: ease 0.4s;
}

.card:nth-child(6n-1) {
  background-image: url("/pics/help3.webp");
}
.card:nth-child(6n-2) {
  background-image: url("/pics/help.webp");
}
.card:nth-child(6n-3) {
  background-image: url("/pics/help2.webp");
}
.card:nth-child(6n-4) {
  background-image: url("/pics/sunrise.webp");
}
.card:nth-child(6n-5) {
  background-image: url("/pics/help4.webp");
}
.card:nth-child(6n) {
  background-image: url("/pics/help5.webp");
}

.card:hover {
  filter: grayscale(1);
}

.button {
  width: 3.5vw;
  height: 3.5vw;
  font-size: 3vw;
  font-weight: 900;
  background-color: #fff;
  color: #181b44;
  border-radius: 2vw;
  display: flex;
  line-height: 3vw;
  justify-content: center;
  position: absolute;
  top: 23vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#prev i {
  padding: 0.35vw 0.5vw 0vw 0vw;
}

#next i {
  padding: 0.35vw 0vw 0vw 0.25vw;
}

.button:hover {
  background-color: #02ade6;
}

.button:active {
  transform: scale(0.7);
}

.button:first-child {
  left: 6.2vw;
}

.button:last-child {
  right: 5.7vw;
}
